@tailwind base;
@tailwind components;
@tailwind utilities;

.writing-vrl {
    writing-mode: vertical-rl;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
span {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

ul,
li {
    list-style-type: none;
}

ul.list-disc li:before {
    font-family: 'FontAwesome';
    content: '\f164';
    margin: 0 5px 0 -15px;
    font-size: x-small;
}
